body {
    background-color: #eaeaea;
    max-height: 800px;
    color: #05473e
}

.main-heading {
    text-align: center;
}
.main-content {
    max-height: 80%;
    max-width: 70%;
    height: 700px;
    background-color: #80ada8; 
    color: #05473e;
    margin: 5% 15% auto;
    padding: 15px 15px 15px 15px;
}


.workflow {
    float: left;
}

.puzzle {
    background-color: #333333;
    color: #eaeaea;
    float: right;
    padding: 10px 10px 10px 10px;
}
